%h2 新規登録
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
<<<<<<< Updated upstream:app/views/users/registrations/new.html.haml
  .field
    = f.label :name, "名前"
    %br/
    = f.text_field :name, autofocus: true, autocomplete: "name"
  .field
    = f.label :email, "Eメール"
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password, "パスワード"
    - if @minimum_password_length
      %em
        (#{@minimum_password_length}文字以上)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation, "パスワード(確認用)"
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit "登録"
= render "users/shared/links"
=======
  .regform
    .regfields
      .regfield
        .regfield__label
          = f.label :name, "名前", class: "reg-name-label"
        .regfield__text
          = f.text_field :name, autofocus: true, autocomplete: "name", class: "reg-name-field"
      .regfield
        .regfield__label
          = f.label :email, "Eメール", class: "reg-email-label"
        .regfield__text
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "reg-email-field"
      .regfield
        .regfield__label
          = f.label :password, "パスワード", class: "reg-pass-label"
          .fontsize
            (
            =@minimum_password_length
            字以上)
        .regfield__text
          = f.password_field :password, autocomplete: "new-password", class: "reg-pass-field"
      .regfield
        .regfield__label
          = f.label :password_confirmation, "パスワード", class: "reg-pass-conf-label"
          .fontsize
            (確認用)
        .regfield__text
          = f.password_field :password_confirmation, autocomplete: "new-password", class: "reg-pass-conf-field"
    .actions
      = f.submit "登録", class: "login-reg"
.link
  既にアカウントがある方はこちら
  = link_to "ログイン", new_user_session_path
>>>>>>> Stashed changes:app/views/devise/registrations/new.html.haml
