%h2.header ログイン
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form
    .fields
      .field
        .field__label
          = f.label :email, "Eメール", class: "reg-email-label"
        .field__main
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "reg-password-field"
      .field
        .field__label
          = f.label :password, "パスワード", class: "reg-password-label"
        .field__main
          = f.password_field :password, autocomplete: "current-password", class: "reg-password-field"
    .actions
      .action
        = f.submit "ログイン", class: "login"
.link
  アカウントを持っていない方はこちら
  = link_to "新規登録", new_user_registration_path
